{% extends '::base.html.twig' %}

{% block title %}{{ article.title }} | {{ parent() }}{% endblock %}

{% block header_class %}article{% endblock %}

{% block header %}
	<div class="top" style="background-color:#{{ article.category.color }};background-image:url({{asset('css/img/bg_category/'~article.category.abbr|lower~'.png')}}), url({{asset('css/img/bg_category/motif_'~article.category.abbr|lower~'.png')}});">
		{% if article.state != "published" %}
		    {% set states = {
		        'draft':  {'icon': 'pencil', 'info': 'Cet article est un brouillon'},
		        'removed': {'icon': 'trash-o', 'info': 'Cet article est supprimé'}
		    } %}
		    <div class="mask"></div>
		    <div class="state state-{{ article.state }}">
				<div class="state-icon">
					<i class="fa fa-{{ attribute(states[article.state], 'icon') }}"></i>
				</div>
				<span>{{ attribute(states[article.state], 'info') }}</span>
			</div>
		{% endif %}
	</div>
	<div class="container text">
		<h1>{{ article.title|capitalize }}</h1>
		<span class="muted">publié {{ article.createdAt|fullDate }}{% if article.tech|length > 0 %} - {{ article.tech|join(" + ") }}{% endif %}</span>
	</div>
{% endblock %}

{% block body %}
<article class="long-text">{{ article.html|raw }}</article>
<div class="article-author">
	<div class="container">
			<a class="author" href="#author" title="Rédacteur : {{ article.author.username }}">{{ article.author.username }}</a>
			<a href="#author" title="Rédacteur : {{ article.author.username }}">
				<img src="{{ asset(article.author.webPath) }}" class="author-img">
			</a>
			{{ helper.author_link(article.author) }}
	</div>
</div>
<section class="comments">
	<div class="container">
		<h1>Commentaires</h1>
		<div class="bulle bulle-top bulle-helper-article">
			<p>Les commentaires se limitent à du <b>texte simple</b> (pas de balise html)</p>
			<p>L'adresse email sera utilisée pour générer un avatar unique et ne sera pas rendue publique.</p>
		</div>
		{{ form(form) }}
		{% for comment in article.comments|reverse %}
			{% include 'NDCBlogBundle:Blog:_comment.html.twig' %}
		{% else %}
			<p data-purpose="help">Il n'y a pas encore de commentaire sur cet article !</p>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/monokai_sublime.highlight_theme.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/ajax-comment.js') }}"></script>
<script src="{{ asset('js/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}