{% extends '::base.html.twig' %}

{% block title %}Rédacteurs | {{ parent() }}{% endblock %}

{% block body %}
<section class="container spacer">
	<h1>Rédacteurs</h1>
	{% for author in authors %}
		<div class="article-author list-authors">
			<div class="container">
					<a class="author"title="Rédacteur : {{ author.username }}">{{ author.username }}</a>
					<a title="Rédacteur : {{ author.username }}">
						<img src="{{ asset(author.webPath) }}" class="author-img">
					</a>
					<p>{{ author.desc|raw }}</p>
					{{ helper.author_link(author) }}
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}

