{% extends '::base.html.twig' %}

{% block title %}Rédacteurs | {{ parent() }}{% endblock %}

{% block body %}
<section class="container spacer">
	<h1>Rédacteurs</h1>
	{% for author in authors %}
		<div class="article-author list-authors">
			<div class="container">
					<a class="author" href="#author" title="Rédacteur : {{ author.username|capitalize }}">{{ author.username|capitalize }}</a>
					<a href="#author" title="Rédacteur : {{ author.username|capitalize }}">
						<img src="{{ author.photo|default('https://dl.dropboxusercontent.com/u/18517066/nomdecode/author.png') }}" class="author-img">
					</a>
					{{ helper.author_link(author) }}
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}

