{% extends '::base.html.twig' %}

{% block title %}Nous contacter | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container spacer">
        <h1>Nous contacter</h1>

        {% for label, flashes in app.session.flashbag.all %}
	        {% for flash in flashes %}
	        	<p style="color:#4EB56E;"><i class="fa fa-check"></i> {{ flash }}</p>
	        {% endfor %}
	    {% endfor %}

		{{ form_start(form, {'attr': {'class': 'form-classic'}}) }}
	    	{{ form_widget(form) }}
	    {{ form_end(form) }}

    </section>
{% endblock %}
