<div class="article_preview">
	<a href="{{ path('blog_article', { 'id': article.id, 'slug': article.slug }) }}" title="{{ article.title|capitalize }}">
		<h2>{{ article.title|capitalize }}</h2>
		<p class="long-text">{{ article.html|striptags|slice(0, 250)|raw }}{% if article.html|striptags|length|raw > 250 %}...{% endif %}</p>
	</a>
	<div class="information muted">
		<a title="Rédacteur : {{ article.author.username|capitalize }}">
			<img src="{{ asset(article.author.webPath) }}" class="author-img">
		</a>
		<a class="author" title="Rédacteur : {{ article.author.username|capitalize }}">
			<span class="author">{{ article.author.username|capitalize }}</span>
		</a>
		<span class="date">{{ article.createdAt|fullDate|lower }}</span>
					
		<a class="tech" style="background-color:#{{ article.category.color }};color:#{{ article.category.txtColor }};" title="{{ article.category.name }}">{{ article.category.abbr }}</a>
		{% for t in article.tech %}
			<a class="tech tech-framework" style="background-color:#{{ t.color }};color:#{{ t.txtColor }};" title="{{ t.name }}">{{ t.abbr }}</a>
		{% endfor %}
		<span class="comments">{{ article.comments|length }} commentaire{% if article.comments|length > 1 %}s{% endif %}</span>
	</div>
</div>