{% extends 'NDCBlogBundle:CategoryAdmin:layout.html.twig' %}

{% block body %}
    <div class="row">
        {% for category in categories %}
            <div class="col-sm-3 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="text-muted pull-right">#{{ category.id }}</span>
                        {{ category }}
                    </div>
                    <div style="background: #{{ category.color }};line-height:100px;height: 100px;font-size: 40px;text-align: center;color: #{{ category.txtColor }}">{{ category.abbr }}</div>
                    <div class="panel-body">
                        <div class="btn-group btn-group-xs btn-group-justified">
                            <a class="btn btn-default" href="{{ path('blog_category_admin_edit', {id: category.id}) }}">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Editer
                            </a>
                            <a class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(categories) }}

{% endblock %}