<table class="table table-bordered table-striped table-condensed table-hover">
    <tr>
        <th>ID</th>
        <th></th>
        <th>Titre</th>
        <th>Vues</th>
        <th>Technos</th>
        <th>Auteur</th>
        <th>Créé le</th>
        <th>Edité le</th>
        <th title="Commentaires">Com.</th>
        <th>Actions</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            {% if article.state == 'published' %}
                <td class="success text-center" title="Publié">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </td>
            {% elseif article.state == 'draft' %}
                <td class="info text-center" title="Brouillon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </td>
            {% else %}
                <td class="danger text-center" title="Supprimé">
                    <i class="glyphicon glyphicon-trash"></i>
                </td>
            {% endif %}
            <td>
                <a href="{{ path('blog_article', {id: article.id, category: article.category.slug, slug:article.slug}) }}">
                    {{ article }}
                </a>
            </td>
            <td>{{ article.views }}</td>
            <td>
                {{ helper.tech(article.category) }}
                {% for tech in article.tech %}
                    {{ helper.tech(tech) }}
                {% endfor %}
            </td>
            <td>{{ article.author }}</td>
            <td>{{ article.createdAt|fullDate }}</td>
            <td>{{ article.updatedAt|fullDate }}</td>
            <td>{{ article.comments|length }}</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-default" href="{{ path('blog_article_admin_edit', {id: article.id}) }}">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Editer
                    </a>
                    <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>