<!DOCTYPE html>

{% macro navbar(group, links) %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{ group }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for text, route in links %}
            <li>
                <a href="{{ path(route) }}">
                    {{ text }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
{% endmacro %}

{% macro search(target, method = 'get', name = 'query') %}
    <form action="{{ path(target) }}" method="{{ method }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher..." name="{{ name }}">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </form>
{% endmacro %}

{% macro action(target, icon, text) %}
    <li>
        <a href="{{ path(target) }}">
            <span class="glyphicon glyphicon-{{ icon }}"></span>
            {{ text }}
        </a>
    </li>
{% endmacro %}

{% macro breadcrumb(target, text) %}
    {% if target is null %}
        <li class="active">{{ text }}</li>
    {% else %}
        <li>
            <a href="{{ path(target) }}">
                {{ text|raw }}
            </a>
        </li>
    {% endif %}
{% endmacro %}

{% macro tech(tech) %}
    <div class="tech" style="background-color: #{{ tech.color }};background-image: url({{ asset(tech.webPath) }});"></div>
{% endmacro %}

{% import _self as helper %}

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block pageTitle %}Admin{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ndc_admin_index') }}">Admin</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{ helper.navbar('Blog', {Article:'blog_article_admin_index', Techno:'blog_tech_admin_index', Image:'blog_image_admin_index'}) }}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ app.user }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-off"></span>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <ol class="breadcrumb">
        {% block breadcrumb %}
            {{ helper.breadcrumb('ndc_admin_index', '<i class="glyphicon glyphicon-home"></i>') }}
        {% endblock %}
    </ol>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-4">
            {% block search %}{% endblock %}
        </div>
        <div class="col-sm-8">
            {% if not hide_actions_dropdown|default(false) %}
                <div class="dropdown pull-right">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-cog"></i>
                        Actions
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        {% block actions %}{% endblock %}
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>

    {% block body %}{% endblock %}
</div>

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
<script type="text/javascript">
    $(function(){
        $('[data-ckeditor]').ckeditor({
            extraAllowedContent: 'code pre h1 h2 h3 h4',
            contentsCss: '{{ asset('css/bootstrap.min.css') }}',
            extraPlugins: 'resize,codesnippet,basicstyles,elementspath,justify,blockquote,codeTag,format,image,filebrowser',
            format_tags: 'p;h1;h2;h3;h4',
            removePlugins: 'about',
            codeSnippet_languages: {
                php: 'PHP',
                javascript: 'JavaScript',
                html: 'HTML',
                yaml: 'YAML'
            },
            filebrowserImageBrowseUrl: '{{ path('blog_image_admin_browse') }}',
            filebrowserImageUploadUrl: '/uploader/upload.php?type=Images',
            justifyClasses: ['text-left', 'text-center', 'text-right', 'text-justify' ],
            toolbar: [
                    ['Format'],
                    ['Image'],
                    ['Bold', 'Italic', 'Underline','Strike','-','RemoveFormat'],
                    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                    [ 'NumberedList','BulletedList','-','Blockquote'],
                    ['CodeSnippet', 'Code']
            ]
        });
    });
</script>
{% endblock %}

</body>
</html>
