{% if article.illustration is null %}
	<header class="no-illustration">
		<div class="author" style="background-color:#{{ article.author.color }};" data-bg-transparency="{{ article.author.color|opacity(0.6) }}" data-max-transparency="0.6">
{% else %}
	<header style="background-image:url({{ article.illustration }});">
		<div class="author" style="background-color:{{ article.author.color|opacity(0.6) }};" data-bg-transparency="{{ article.author.color|opacity(0.6) }}" data-max-transparency="0.6">
{% endif %}
		<div class="info">
			<a href="#" class="photo"><img src="{{ article.author.photo }}" alt=""></a>
			<span><a href="#" class="name">{{ article.author.name }}</a></span>
			<span class="date">{{ article.date|fullDate }}</span>
			<div class="categories">
				{% for category in categories %}
					<a href="#"><img src="{{ category.img }}" alt=""></a>
				{% endfor %}
			</div>
		</div>
	</div>
</header>
<div class="content">
	<div class="title">{{ article.title }}</div>
	<div class="text">{{ article.content|raw }}</div>
</div>