<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nomdecode{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,300' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('css/img/favicon.png') }}" />
    </head>
    <body>
        {% macro pagination(currentPage, pageCount) %}
            {% if currentPage > 1 or currentPage < pageCount %}
                <div class="pagination">
                    {% if currentPage > 1 %}
                        <a href="{% if currentPage == 2 %}{{ path('blog_index_first_page') }}{% else %}{{ path('blog_index', { 'page': currentPage - 1 }) }}{% endif %}" rel="prev">Page précédente</a>
                    {% endif %}
                    {% if currentPage < pageCount %}
                        <a href="{{ path('blog_index', { 'page': currentPage + 1 }) }}" rel="next">Page suivante</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endmacro %}

        {% import _self as helper %}

        {% block body %}{% endblock %}

        <footer></footer>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/velocity.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
