{% extends '::base.html.twig' %}

{% block body %}

<!-- fake data -->
{% set author = {
	'photo': 'https://dl.dropboxusercontent.com/u/18517066/nomdecode/author.png',
	'name': 'Jean-Elie',
	'color': '#655492'
} %}
{% set categories = [
	{
		'name': "Symfony",
		'img': 'https://dl.dropboxusercontent.com/u/18517066/nomdecode/categories/symfony.png'
	},
	{
		'name': "PHP",
		'img': 'https://dl.dropboxusercontent.com/u/18517066/nomdecode/categories/php.png'
	}
] %}
{% set article = {
	'author': author,
	'categories': categories,
	'date': "now",
	'illustration': 'https://dl.dropboxusercontent.com/u/18517066/nomdecode/fond.jpg',
	'title': 'Le plus beau titre possible, gros bisous les enfants',
	'content': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit hic labore reprehenderit ad vel, consequuntur repellat. Tempore accusamus impedit nam vitae obcaecati reprehenderit omnis, numquam iusto, vel quod neque sed sapiente tenetur ullam. Nostrum error deleniti dolorem non explicabo voluptatum ratione pariatur sint cupiditate eos, optio ab et quis totam.'
} %}

{% set article_listed = {
	'author': author,
	'categories': categories,
	'date': "now",
	'illustration': 'https://dl.dropboxusercontent.com/u/18517066/nomdecode/fond.jpg',
	'title': 'Nostalgie : essai de jeu isométrique en Java avec Canvas'
} %}


<section class="vignettes">
	{% for i in 0..4 %}
		<div class="vignette">
			<div class="illustration" style="background-image:url({{ article_listed.illustration }});"></div>
			<div class="title"><span>{{ article_listed.title }}</span></div>
			<div class="author"></div>
			<div class="categories"></div>
		</div>
	{% endfor %}
</section>
<article>
	<header style="background-image:url({{ article.illustration }});">
		<div class="author" style="background-color:{{ article.author.color }};">
			<div class="author-info">
				<img src="{{ article.author.photo }}" alt="" class="photo">
				<span class="name">{{ article.author.name }}</span>
				<span class="date">{{ article.date|date("d/m/Y") }}</span>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="title">{{ article.title }}</div>
		<div class="text">{{ article.content }}</div>
	</div>
</article>

{% endblock %}