{% extends 'NDCBlogBundle:TechAdmin:layout.html.twig' %}

{% block body %}
    <div class="row">
        {% for tech in techs %}
            <div class="col-sm-3 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="text-muted pull-right">#{{ tech.id }}</span>
                        {{ tech }}
                    </div>
                    <div style="background: #{{ tech.color }} center url({{ asset(tech.webPath) }}) no-repeat;height: 100px;background-size: 50%;"></div>
                    <div class="panel-body">
                        <div class="btn-group btn-group-xs btn-group-justified">
                            <a class="btn btn-default" href="{{ path('blog_tech_admin_edit', {id: tech.id}) }}">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Editer
                            </a>
                            <a class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(techs) }}

{% endblock %}