{% extends 'NDCBlogBundle:TechAdmin:layout.html.twig' %}

{% block body %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Icon</th>
            <th>Actions</th>
        </tr>
        {% for tech in techs %}
            <tr>
                <td>{{ tech.id }}</td>
                <td>{{ tech }}</td>
                <td>
                    <div  style="background-color: #{{ tech.color }};width:30px;height:30px;border-radius:100%"></div>
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-default" href="{{ path('blog_tech_admin_edit', {id: tech.id}) }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                            Editer
                        </a>
                        <a class="btn btn-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(techs) }}

{% endblock %}